@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body {
	font-family: "Roboto", sans-serif;
}
body {
	background-color: #ffffff;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}

.btn-primary {
	background-color: #00B074 !important;
	border-color: #00B074 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: #00B074;
	color: #fff;
}

.nav-pills .nav-link {
	color: #00B074;
}

.nav-pills .nav-link:hover {
	background-color: #00B074;
	color: #fff;
}



