<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <h1>Login Form</h1>
  <form id="loginPelamar" action="#" method="post">
    <label for="email">Email:</label>
    <input type="email" id="emailLoginPelamar" name="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="pswdLoginPelamar" name="password" required>
    <button type="submit">Login</button>
  </form>
  <script src="static/loginPelamar.js"></script>
</body>
</html>