<!DOCTYPE html>
<html>
<head>
  <!-- <title>Login Page</title> -->
  <link rel="stylesheet" type="text/css" href="/static/css/style3.css">
</head>
<body>
  <div class="container">
    <div class="title">Login</div>
    <form id="loginPelamar" action="/loginPelamar" method="post">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Email</span>
          <input type="email" id="emailLoginPelamar" placeholder="Enter your email" required>
        </div>
        <div class="input-box">
          <span class="details">Password</span>
          <input type="password" id="pswdLoginPelamar" placeholder="Enter your password" required>
        </div>
      </div>
      <div class="button">
        <input type="submit" value="Login">
      </div>
    </form>
  </div>

  <script src="/static/js/loginPelamar.js"></script>
</body>
</html>