<!DOCTYPE html>
<html>
<head>
  <!-- <title>Login Page</title> -->
  <link rel="stylesheet" type="text/css" href="/static/css/style2.css">
</head>
<body>
  <div class="navbar">
    <h1 class="m-0" style="font-family: 'Great Vibes', cursive; color: #00B074;">CareerHub</h1>
    <ul class="menu-list">
      <li><a href="http://127.0.0.1:5000/about">About</a></li>
      <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
    </ul>
  </div>
  
  <div class="container">
    <div class="title">Login</div>
    <form id="loginPelamar" action="/loginPelamar" method="post">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Email</span>
          <input type="email" id="email" placeholder="Enter your email" required>
        </div>
        <div class="input-box">
          <span class="details">Password</span>
          <input type="password" id="password" placeholder="Enter your password" required>
        </div>
      </div>
      <div class="button">
        <input type="submit" value="Login">
      </div>
    </form>
    <div class="message">Don't have an account? <a href="http://127.0.0.1:5000/registerPelamar">Sign up</a></div>
    <div class="message">Login as Company? <a href="http://127.0.0.1:5000/loginPerusahaan">Company Account</a></div> <!-- Added message and link -->
  </div>

  <script src="/static/js/loginPelamar.js"></script>
</body>
</html>

